<html>
    <head>
        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <title>Issues GitHub - {{ repoInfo.full_name }}</title>

        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="../../css/master.css?20190122_2">

    </head>
    <body>
      <header>
        <div class="container">
          <h2 class="display-1">Issues GitHub</h2>

          <!-- Go back  -->
          <div class="form-group">
            <a class="waves-effect waves-light btn" href="./../"><i class="material-icons left">arrow_back</i> Go Back</a>
          </div>
        </div>
      </header>

      <div class="">
        <div class="leftBar">
          {% if hideFilters != true %}
          <!-- Repo Logo -->
          <div class="form-group">
            <div class="center-align">
              <img src="{{ repoInfo.owner.avatar_url }}" class="rounded " width="80" alt="">
              <h5>{{ repoInfo.full_name }}</h5>
              <p>{{ repoInfo.description }}</p>
              <small> ID: <code>{{ repoInfo.id }} </code></small>
            </div>
          </div>
          <br>
          <form action="">
            <!-- Milestone Filter -->
            <div class="input-field col s12">
              <strong>Milestone:</strong>
              <select name="milestoneID">
                <option value="" >All</option>
                {% for milestone in milestones %}
                  <option value="{{ milestone.number }}" {% if (milestone.number == milestoneID) %}selected{% endif %}>{{ milestone.title }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- Zenhub Data -->
            <p><strong>Zenhub:</strong></p>
            <div class="form-group">
              <label>
                <input type="checkbox" class="filled-in" name="zenhubActive" value="true" {% if zenhubActive %}checked="checked"{% endif%} />
                <span>Show Data</span>
              </label>
            </div>
            <!-- Issues State -->
            <p><strong>GitHub Status:</strong></p>
            <div class="form-group">
              <label>
                <input class="with-gap" name="state" type="radio" value="open" {% if state == "open" %}checked{% endif %} />
                <span>Open</span>
              </label>
              <br>
              <label>
                <input class="with-gap" name="state" type="radio" value="closed" {% if state == "closed" %}checked{% endif %} />
                <span>Closed</span>
              </label>
              <br>
              <label>
                <input class="with-gap" name="state" type="radio" value="all" {% if state == "all" %}checked{% endif %} />
                <span>Both <small>(All)</small></span>
              </label>
            </div>
            <br>
            <button class="btn btn-outline-secondary right" type="submit">Find Issues</button>
          </form>
          {% endif %}
        </div>


        <div class="rightBar {{ hideFilters? 'hideblock': 'show' }}">
          {% if milestoneID is not empty %}
          <div class="row">


            <div class="col m2">
              <div class="card topIndicator">
                <div class="card-content">
                  <span class="card-title"> Total Issues</span>
                  <p><h3>{{ issues|length }}</h3></p>
                  {% if zenhubActive %}
                    <p><strong> Total Estimated:</strong> {{ chartsData.totalEstimate }} </p>
                    <div class="chart-container"><canvas id="chartCanvas-4"></canvas></div>
                    <code class="chartData-4 hide"> {{ chartsData.issuesEstimate|json_encode }} </code>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="col m3">
              <div class="card topIndicator">
                <div class="card-content">
                  <span class="card-title">Status </strong> {% if zenhubActive %} <br><small>(Estimated by State)</small>{% endif %}</span>
                  <div class="chart-container"><canvas id="chartCanvas-0"></canvas></div>
                  <code class="chartData-0 hide"> {{ chartsData.states|json_encode }} </code>
                </div>
              </div>
            </div>

            <div class="col m7">
              <div class="milestoneDescription card-panel topIndicator">
                <div class="buttonsMilestone right">
                  <a class="btn-floating btn-small  " href="https://github.com/{{ org }}/{{ repoInfo.name }}/milestones/{{ milestoneInfo.number }}/edit" target="_blank">
                    <i class="material-icons">edit</i>
                  </a>
                  <!-- Modal Trigger -->
                  <a class="btn-floating btn-small cyan  modal-trigger" href="#modal1" ><i class="material-icons">fullscreen</i></a>

                </div>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                 <div class="modal-content">
                   <h5>{{ milestoneInfo.title }}</h5>
                   {% if zenhubActive %}
                       <p> <strong> Start Date:</strong> {{ milestoneInfo.dates.start_date|date("M/d/Y") }}  | <strong>End Date:</strong>  {{ milestoneInfo.dates.end_date|date("M/d/Y") }}</p>
                   {% else %}
                       <p> <strong>Due on:</strong>  {{ milestoneInfo.due_on|date("M/d/Y") }}</p>
                   {% endif %}
                   <hr>
                   <p> {{ milestoneInfo.description|nl2br }} </p>
                 </div>
                 <div class="modal-footer">
                   <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
                 </div>
                </div>

                <h5>{{ milestoneInfo.title }}</h5>
                {% if zenhubActive %}
                    <p> <strong> Start Date:</strong> {{ milestoneInfo.dates.start_date|date("M/d/Y") }}  | <strong>End Date:</strong>  {{ milestoneInfo.dates.end_date|date("M/d/Y") }}</p>
                {% else %}
                    <p> <strong>Due on:</strong>  {{ milestoneInfo.due_on|date("M/d/Y") }}</p>
                {% endif %}
                <hr>
                <p> {{ milestoneInfo.description|nl2br }} </p>
              </div>
            </div>

          </div>
          {% endif%}

          <div class="row">

            <div class="col m4">
              <div class="card topIndicator">
                <div class="card-content">
                  <span class="card-title">Type</strong> {% if zenhubActive %} <br><small>(Estimated by Type)</small>{% endif %}</span>
                  <div class="chart-container"><canvas id="chartCanvas-1"></canvas></div>
                  <code class="chartData-1 hide"> {{ chartsData.types|json_encode }} </code>
                </div>
              </div>
            </div>

            <div class="col m4">
              <div class="card topIndicator">
                <div class="card-content">
                  <span class="card-title">Responsible</strong> {% if zenhubActive %} <br><small>(Estimated by Responsible)</small>{% endif %}</span>
                  <div class="chart-container"><canvas id="chartCanvas-3"></canvas></div>
                  <code class="chartData-3 hide"> {{ chartsData.users|json_encode }} </code>
                </div>
              </div>
            </div>

            <div class="col m4">
              <div class="card topIndicator">
                <div class="card-content">
                  <span class="card-title">Priority</strong> {% if zenhubActive %} <br><small>(Estimated by Priority)</small>{% endif %}</span>
                  <div class="chart-container"><canvas id="chartCanvas-2"></canvas></div>
                  <code class="chartData-2 hide"> {{ chartsData.priorities|json_encode }} </code>
                </div>
              </div>
            </div>

          </div>
          <!-- <p>Total issues found: <strong>{{ issues|length }}</strong></p> -->



          <table id="issuesList" class="table table-striped table-bordered striped" style="width:100%">
            <thead>
              <tr>
                {% if zenhubActive %}<th>Epic</th>{% endif%}
                <th>Title</th>
                <th>Milestone</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Responsible</th>
                <th>Responsible(s)</th>
                <th>Status</th>
                {% if zenhubActive %}
                  <th>Estimate <br><small>ZenHub</small></th>
                  <th>Pipeline <br><small>ZenHub</small></th>
                {% endif%}
                <th>Created At</th>
                <!--

                <th>Updated At</th>
                <th>Closed At</th>
                -->
              </tr>
            </thead>
            <tbody>
              {% for issue in issues %}
                <tr class="pipeline-{{ issue.zenhub.pipeline.name|replace(' ', '-')|replace('/', '-') }}">
                  {% if zenhubActive %}
                  <td class="">
                    {% if issue.epicIssue is not empty %}
                      <a href="https://github.com/{{ org }}/{{ repoInfo.name }}/issues/{{ issue.epicIssue.number }}">
                        #{{ issue.epicIssue.number }}
                        <!-- <span class="new badge purple epicBadge" data-badge-caption="E"></span> -->
                      </a>
                      {{ issue.epicIssue.title }}
                    {% else %}
                      <nobr>No Epic</nobr>
                    {% endif %}
                  </td>
                  {% endif %}
                  <td>
                    <div class="right">
                      {% if issue.pull_request is not empty %} <span class="new badge" data-badge-caption="Pull Request"></span>{% endif %}
                      {% if issue.isNew %}<span class="new badge" data-badge-caption="New"></span>{% endif %}
                    </div>
                    <span class="title"> <a href="{{ issue.html_url}}">#{{ issue.number }} </a>  {{ issue.title }} </span>
                    {% if issue.zenhub.epicData.issues is not empty %}
                    <br>
                    <ul class="browser-default">
                      {% for subIssue in issue.zenhub.epicData.issues %}
                        <li>
                          <a href="https://github.com/{{ org }}/{{ repoInfo.name }}/issues/{{ subIssue.issue_number }}">
                            #{{ subIssue.issue_number }} </a> {{ subIssue.githubData.title }} - <strong>{{ subIssue.pipeline.name }}</strong>
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </td>
                  <td class="center-align">
                    {% set milestoneAcronym = issue.milestone.title |split('-') %}
                    {{ milestoneAcronym[0] }}
                  </td>
                  <td class="center-align"> {{ issue.type }} </td>
                  <td class="center-align"> {{ issue.priority }} </td>
                  <td class="">
                    <div class="chip amber lighten-4">
                      <img src="{{ issue.assignee.avatar_url}}" alt="{{ issue.assignee.login }}">
                      {{ issue.assigneAcronym }}
                    </div>
                  </td>
                  <td>
                    {% for user in issue.assignees %}
                      {% set isLeader =  issue.assignee.login ==  user.login %}
                      {% if not isLeader %}
                        <div class="chip">
                          <img src="{{ user.avatar_url}}" alt="{{ user.login }}">
                          {{ user.assigneAcronym }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td class="center-align"> {{ issue.state}}</td>
                  {% if zenhubActive %}
                    <td class="center-align"> {{ issue.zenhub.estimate.value }} </td>
                    <td class="center-align pipelineColumn"> {{ issue.zenhub.pipeline.name }} </td>
                  {% endif %}
                  <td> <small>{{ issue.created_at }}</small> </td>
                  <!--
                  <td> <small>{{ issue.updated_at }}</small> </td>
                  <td> <small>{{ issue.closed_at  }}</small> </td>
                  -->
                </tr>
              {% endfor %}

            </tbody>
          </table>
          <footer>
            <br><code>{{ query }}</code>
          </footer>
        </div>

      </div>



      <!-- Compiled and minified JavaScript -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="../../js/main.js?20190129" charset="utf-8"></script>

    </body>

</html>
